body {
    padding-top: 20px;
    padding-bottom: 20px;
  }
/* Custom page header */
.header {
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
  }
  /* Make the masthead heading the same height as the navigation */
  .header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    text-align: center
  }

.vidContainer {
    padding-top: 20px;
    text-align: center;
    padding-bottom: 50px;
}

.score-board {
  text-align: center;
  padding: 20px;
}
.score {
  display: inline-block;
  padding: 15px;
  padding-left: 75px;
}
.player h4 {
  font-weight: bold;
}
.score-box {
  border: 3px solid black;
  width: 400px;
  height: 400px;
  color: #2CB3C9;
  padding: 100px;
  font-size: 100px;
}

.box {
  display: flex;
  justify-content: center;
}

.button-box {
 padding-left: 425px;
}

.btn-primary {
  background-color: #2CB3C9 !important;
}

.webcam {
  padding-left: 800px;
}